h3 {
    text-align: center;
    font-size: 40px;
    background-color: #fff;
    margin: 10px 0;
}
.content {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.all-users,.all-posts,.all-comments {
    width: 30%;
}
.one-block {
    margin: 25px 0;
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
}
.one-block a {
    color: yellowgreen;
    cursor: pointer;
}