<!doctype html>
<html  ng-app="jelvixApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>jelvix test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="js/jelvixApp.js"></script>

</head>

<body>
<div class="content" ng-controller="dataCtrl">
    <div class="all-users">
        <h3>Users</h3>
        <div class="one-block" ng-repeat="user in userList" ng-click="selectUser(user.id)">
        <div>name:<strong>{{user.username}}</strong></div>
        <div>email:<a href="">{{user.email}}</a></div>
        <div>company:{{user.company.name}}</div>
        <div>phone:<a href="">{{user.phone}}</a></div>
        </div>
    </div>
    <div class="all-posts">
        <h3>User post</h3>
        <div class="one-block" ng-repeat="post in postList | filter:{userId:currentUser}" ng-click="selectPost(post.id)">
            <div><strong>{{post.title}}</strong></div>
            <div>{{post.body}}</div>
        </div>
    </div>
    <div class="all-comments">
        <h3>Post comments</h3>
        <div class="one-block" ng-repeat="comment in commentList | filter:{postId:currentPost}">
            <div><strong>{{comment.name}}</strong></div>
            <div><a href="">{{comment.email}}</a></div>
            <div>{{comment.body}}</div>
        </div>
    </div>
</div>

</body>
</html>